<!DOCTYPE html>
<html>
<head>
<title>{{__FILE__}}</title>
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/Nardberjean/48efe750b1b3a10399aa4bcfcc74a775/raw/5ae9cec7401963b305c27053e52c4496161fe939/pure_css_one_level_dropdown_ul_li_ul_li_based_navbar.css">
<link rel="stylesheet" href="{{ asset('bundles/whiteoctoberpagerfanta/css/pagerfantaDefault.css') }}" type="text/css" media="all" />
</head>
<body>

<ul class="navbar">
<li><a href={{ path('index') }}>Home</a></li>
<li><a href={{ path('url_index') }}>URL</a>
    <ul>
    <li><a href={{ path('url_new') }}>New</a></li>
    </ul>
</li>
<li><a href={{ path('taxonomy_index') }}>Taxonomy</a>
    <ul>
    <li><a href={{ path('taxonomy_new') }}>New</a></li>
    </ul>
</li>
<li class="right"><a href={{ path('user_index') }}>User</a>
    <ul>
    <li><a href={{ path('fos_user_security_login') }}>Login</a></li>
    <li><a href={{ path('fos_user_security_logout') }}>Logout</a></li>
    <li><a href={{ path('fos_user_registration_register') }}>Register</a></li>
    <li><a href={{ path('fos_user_profile_show') }}>Profile</a></li>
    <li><a href={{ path('fos_user_resetting_request') }}>Resetting</a></li>
    </ul>
</li>
</ul>

{% block body %}
{% endblock body%}

</body>
</html>
